.title {
  text-align: center;
  margin: 2rem 0;
  font-size: large;
  font-family: 'Roboto', sans-serif;
  color:  black;
}
.form-input {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.form-input input {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 0.5rem;
  height: 35px;
}
.form-input button {
  height: 40px;
  margin-left: 1%;
  background-color: #1d4ed8;
  font-weight: bold;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: 15%;
}
.list-itens {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  padding-top: 15px;
}
table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding-top: 15px;
}
table thead {
  color: black;
  background-color: #1d4ed8;
  border: 1px solid black;
}
table thead th {
  font-weight: bolder;
}
table tbody tr:nth-child(odd) {
  border: 1px solid black;
  color: black;
  padding-top: 27px;
}
table tbody td{
  color: black;
}

button{  
  background-color: #1d4ed8;
  font-weight: bold;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.button-edit{
  background-color: #1d4ed8;
  color: black;
  padding: 5px;
  margin: 5px;
}
.button-delete{
  background-color: #1d4ed8;
  color: black;
  padding: 5px;
  margin: 5px;
}

select{
  background-color: white;
  width: 13%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 0.5rem;
  height: 37px;
}
